<h1 mat-dialog-title>Confirm Class Details</h1>
<div mat-dialog-content>
  <div class="confirmation-details">
    <table>
      <tr>
        <td><strong>Title:</strong></td>
        <td>{{ data.title }}</td>
      </tr>
      <tr>
        <td><strong>Tasks:</strong></td>
        <td>
          <ul>
            <li *ngFor="let task of data.tasks">{{ task.taskName }}</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Class Date:</strong></td>
        <td>{{ data.classDateCtrl | date }}</td>
      </tr>
      <tr>
        <td><strong>Schedule:</strong></td>
        <td>{{ data.schedule }}</td>
      </tr>
      <tr>
        <td><strong>Duration:</strong></td>
        <td>{{ data.duration }}</td>
      </tr>
      <tr>
        <td><strong>Capacity :</strong></td>
        <td>{{ data.capacity }}</td>
      </tr>
      <tr>
        <td><strong>Fee :</strong></td>
        <td>{{ data.fee }}</td>
      </tr>
      <!-- Add more rows for additional properties as needed -->
    </table>

  </div>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button [mat-dialog-close]="true">Confirm</button>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
</div>
